# Name :- Prekshita vasudeo patil
# registration No:- 20MAI0073
# Github link :- https://github.com/prekshita19/DL-Assignments

In [1]:
import pandas as pd
read = pd.read_csv('wheat-seeds.csv',names=['area',"perimeter",'compactness','length of kernel','width of kernel','asymmetry coefficient','length of kernel groove','Class'])

In [2]:
read.head()

,area,perimeter,compactness,length of kernel,width of kernel,asymmetry coefficient,length of kernel groove,Class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1

In [3]:
x=read[['area','perimeter','compactness','length of kernel','width of kernel','asymmetry coefficient','length of kernel groove']]
y=read[['Class']]

In [4]:
x.head()

,area,perimeter,compactness,length of kernel,width of kernel,asymmetry coefficient,length of kernel groove
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175

In [5]:
y.head()

   Class
0      1
1      1
2      1
3      1
4      1

In [6]:
print(x.shape)
print(y.shape)

(210, 7)
(210, 1)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score,plot_confusion_matrix,accuracy_score
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1,random_state = 0)

In [8]:
print('xtrain.shape :- ',xtrain.shape)
print('xtest.shape :- ',xtest.shape)
print('ytrain.shape :- ',ytrain.shape)
print('xtest.shape :- ',ytest.shape)

xtrain.shape :-  (189, 7)
xtest.shape :-  (21, 7)
ytrain.shape :-  (189, 1)
xtest.shape :-  (21, 1)

In [9]:
model = MLPClassifier((2,200),max_iter=100)
model.fit(xtrain,ytrain)
ypredict = model.predict(xtest)
print(ypredict)

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[2 3 1 1 3 1 1 2 1 3 1 2 3 3 1 1 3 1 1 1 3]

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [10]:
from sklearn.metrics import confusion_matrix,accuracy_score
print(confusion_matrix(ypredict,ytest))

[[6 5 0]
 [1 1 1]
 [1 1 5]]

In [11]:
print(accuracy_score(ypredict,ytest))

0.5714285714285714